/node_modules
/public/hot
/public/storage
/storage/debugbar
/storage/exports
/storage/framework
/storage/logs
/storage/medialibrary
/database/factories
/database/seeds/*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.production
.env.testing
.env.dusk
.txt
.install
.snippeds
vali-admin-master.zip
.env
