.loading {    
    background-color: $color-white;
    background-image: url("~/img/loading.gif");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center center;
}