#map {
    margin: 0;
    padding: 0;
    height: 100% !important;
    width: 100vw !important;
    min-height: 400px !important;

    img {
        box-shadow: none !important;
        border: 0 !important;
    }
}

#map-thumbnail {
    @extend #map;
    height: 400px;
}
