// Small devices (landscape phones, 576px and up)
@media (max-width: 767.98px) {
    form {
        i {
            display: none !important;
        }
    }

    html, body, #map {
        height: 100%;
        width: 100vw;
    }
}

@media (max-width: 1024.1px) {
    table#tableDataId th:nth-child(8) ~ th,
    table#tableDataId td:nth-child(8) ~ td {
      display: none;
    }

    table#tableDataId th:last-child,
    table#tableDataId td:last-child {
      display: table-cell !important;
    }
}
